
h1 {
  text-align: center;
  color: rgb(0,116,228);
}



.custom-table {
  font-size: 20px;
  line-height:25px;

}

.head{
  border-width:thick;
  font-weight: bold;
  text-align: center;
}

.container{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}

.id{
  width: 5%;
  text-align: center;
}

.name, .budget, .timeline{
  width: 15%;
  text-align: center;
}

.star-btn, .hide-btn{
  width: 5%;
 
}
.description{
  width: 40%;
}

#unhide,.add-project-btn,.cancel {
  margin: 2% 20%;
  font-size: 15px;
  
}


.add-project {
  background-color: rgb(249,249,249);
  width: 700px;
  border: 1px solid rgb(86, 92, 97);
  border-radius: 20px;
}



.custom-tbody .btn{
  display: none;
  padding: 5px;
  margin: 12px 10px;
}

.row:hover .btn{
  display: inline;
}

.error-message{
  color: rgb(255, 0, 0);
}

.star{
  background-color: transparent;
  border-color: transparent;
 
}

.row:hover  .star-button{
  display: inline;
} 

.star-button {
  display:none;
}


.starred .star-icon,
.star-button .star-icon {
  color: rgb(218, 165, 32); /* Color for the starred icon */
}

.star-button .star-icon {
  color: rgb(211, 211, 211); /* Color for the unstarred icon */
}


