
h1 {
  text-align: center;
}

.custom-table {
  font-size: 20px;
  line-height:50px;
}

.container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.id{
  width: 5%;
}

.name, .budget, .timeline{
  width: 15%;
}

.description{
  width: 30%;
}

#unhide,.add-project-btn,.cancel {
  margin: 2% 20%;
  font-size: 15px;
  
}

.add-project {
  width: 700px;
}

.custom-tbody td{
  padding: 0px 2%;
}

.custom-tbody .btn{
  display: none;
  padding: 5px;
  margin: 12px 10px;
}



.row:hover .star-button{
  display: inline;
}
.row:hover .btn{
  display: inline;
}

.error-message{
  color: rgb(255, 0, 0);
}

.star{
  background-color: transparent;
  border-color: transparent;
 
}

.star-button {
  display:none;
}

.starred .star-icon,
.star-button .star-icon {
  color: rgb(218, 165, 32); /* Color for the starred icon */
}

.star-button .star-icon {
  color: rgb(211, 211, 211); /* Color for the unstarred icon */
}


